html{
  background-color: rgb(13, 1, 6);
  color: rgb(213, 204, 204);
}

.navbar {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.homepage > .content {
  grid-column-start: 2;
  text-align: center;
}
